body {
    margin: 0;
    padding: 0;
    font-family: Dash Horizon;
    image-resolution:initial;
    font-size:x-large;
  }
  
  header {
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
